.wrapper {
    margin-top: -33px;

    .tabs {
        padding: 1em;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding-inline: 1em;
            color: #1aaaba;
            border: 1px solid #1aaaba;
            height: 35px;
            background-color: white !important;
            border-radius: 5px;

            &:first-child {
                margin-right: 1em;
            }

            &.active {
                background-color: #1aaaba !important;
                color: white;
            }
        }

        .downloadBtn {
            display: flex;
            align-items: center;

            cursor: pointer;
            svg {
                margin-right: 4px;
            }

            a {
                color: #1aaaba !important;
                display: inline-flex;
                align-items: center;
                font-weight: 600;
                font-size: 0.9rem;

                &:link {
                    color: #1aaaba !important;
                }

                &:visited {
                    color: #1aaaba !important;
                }

                &:hover {
                    color: #1aaaba !important;
                }

                &:active {
                    color: #1aaaba !important;
                }
            }
        }
    }

    .codeBox {
        margin: 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;

        position: relative;
        .copyBtn {
            position: absolute;
            right: 10px;
            top: 10px;
            display: flex;
            justify-content: flex-end;
        }

        .segmented {
            padding: 1em;
        }
    }
}
