/* styles/appSection.module.css */
.main {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}

.topSection {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  align-self: center;
}
.topSectionInfo,
.modalContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: break-word;
  text-align: left;
}
.topSectionInfo > p,
.bottomSection p {
  margin: 2px 0px;
}

.topSectionLogo {
  max-width: 150px;
}

.bottomSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* align-items: flex-start; */
}
.bottomSectionRow:first-child {
  flex: 2;
  max-width: 200px;
}
.bottomSectionRow:nth-child(2) {
  flex: 1;
  max-width: 400px;
}
.bottomSectionRow {
  padding: 10px;
}
.defaultSection {
  display: flex;
  flex-flow: column nowrap;
}

.defaultSection > h2 {
  /* margin: 5px; */
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.codeBlockContainer2 {
  align-self: center;
  /* width: 100%; */
  max-width: 80%;
  padding: 10px;
  font-size: 0.6rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: scroll;
}

.button {
  margin: 0 0.5rem 0 0;
  height: 40px;
  min-width: 40px;
  color: #299fac;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}
.buttonDisabled {
  pointer-events: none;
  opacity: 0.5;
  color: #299fac;
}
.button:hover {
  background-color: #08909f;
  color: #fff;
}

.setPrepForm {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.setPrepForm .button {
  align-self: flex-start;
}
.table {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* align-self: center; */
  /* border: 1px solid #d6d3d1; */
  padding: 10px;
}
.tableRow {
  justify-content: space-between;
  margin: 5px;
  display: flex;
  flex-flow: row nowrap;
}

.tableRow > * {
}

.tableRow > input {
}

.tableRowLabel {
  /* margin: 0 4px; */
  flex: 1;
  display: flex;
  align-items: center;
}
.tableRowInput {
  height: 35px !important;
  flex: 2 !important;
  border: 2px solid #c2c2c2 !important;
  border-radius: 4px !important;
}

.tableRowInput::placeholder {
  color: #c2c2c2;
}

.tableRowInputValid {
  /* border: 1px solid #d6d3d1; */
  border: 1px solid green;
  width: 60%;
}
.tableRowInputInvalid {
  border: 1px solid red;
  width: 60%;
}

.bold {
  font-weight: bold;
}

.tableOne {
  border: 1px solid #d6d3d1;
  max-width: 600px;
  margin: auto;
}

.tableOneContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: center;
  /* border: 1px solid #d6d3d1; */
  padding: 10px;
}

.tableOne th {
  padding: 5px;
  text-align: left;
  background-color: #f2f2f2;
  font-weight: bold;
}

.tableOne td {
  padding: 5px;
  text-align: left;
  font-size: 0.8rem;
}

.tableOne td,
.tableOne th {
  border: 1px solid #d6d3d1;
}
.tableOne td:first-child,
.tableOne th:first-child {
  width: 70%;
}

.tableRowInput2 {
  height: 35px !important;
  flex: 0.5 !important;
  max-width: 100px;
  min-width: 50px;
  border: 2px solid #c2c2c2 !important;
  border-radius: 4px !important;
}

.inputGreen {
  /* border: 2px solid #c2c2c2 !important; */
  border: 2px solid green !important;
  width: 60%;
}
.inputRed {
  border: 2px solid red !important;
  width: 60%;
}
.txResult {
  margin: 10px 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: green;
  max-width: 100%;
  word-wrap: break-word;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

