@charset "utf-8";

/* initialize */
body { margin:0; padding:0; background-color:#fff; color:#262626; font-size:12px; line-height:1;-webkit-text-size-adjust:none; -ms-text-size-adjust: none;}
html, body {/*width:100%; height:100%; *//*min-width:1024px; */}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address,big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, article, aside, canvas, footer, header, menu, nav, section, summary, video {z-index: inherit;padding: 0;border: 0;margin: 0;vertical-align: baseline;font: inherit;font-size: 100%; font-family:'Montserrat';}

input[type=button], input[type=text], input[type=image],
input[type=submit],input[type=password], input[type=tel],
input[type=number], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	outline: 0;
	vertical-align:middle;
	/*font-family:'notokr-demilight';*/
}
select:focus,
button:focus {outline:0;}
input[type=checkbox] {-webkit-appearance: checkbox;-moz-appearance: checkbox;}
input[type=radio] {-webkit-appearance: radio;-moz-appearance: radio;}
input::-ms-clear {display: none;width: 0;height: 0;}
input::-ms-reveal {display: none;width: 0;height: 0;}

select{-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;}
::selection {color: rgb(255, 255, 255); background: #1aaaba; }

li{ list-style:none; }
table{ width:100%; border-collapse:collapse; border-spacing:0; }
th, td{ border-collapse:collapse; }
legend, caption, hr{ display:none; }
a { text-decoration:none; color:#262626;}
a:hover {  color:#1aaaba;}

*{-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;}

#root {
  height: 100%;
}

#app-root {
  height: 100%;
}

/*txt*/
[class ^="txt-type"] {color: #fff; background-color: transparent; ; font-size: 14px; border: none; border-bottom: 2px solid #fff; padding: 15px 40px 15px 10px; font-family: "NanumSquare"; font-weight: 600;}
.txt-type-normal {position: relative; width: 100%;}
.txt-type-normal:focus {border-bottom: 2px solid  #fff; }
.txt-type-normal.fail{border-bottom: 1px solid #f44336;}
.txt-type-normal:disabled {color: #dddddd; }
input::-webkit-input-placeholder {color: #a7d7de;}

.txt-type-page {position: relative; width: 100px; font-size: 16px;     border: 1px solid #262626; color: #262626;padding: 14px 10px; }

/*btn*/
.btn-holder {}
[class ^="btn-type"] {display: inline-block; color: #fff; background-color: #404040 ; cursor: pointer; font-size: 16px; padding: 9px 30px;}


.btn-type-line{border: 1px solid #ffffff; background: transparent; padding: 19px 30px;}
.btn-type-line2{border: 2px solid #fff; background: transparent;}
.btn-type-line2:active:hover:not([disabled]){color: #1aaaba; border: 2px solid #fff; background: #fff;}
.btn-type-line2:active:hover:not([disabled]) .img{ background-position: -215px -20px;}
.btn-type-line2:disabled{opacity: 0.5; cursor:initial; }
.btn-type-line3{color: #262626; border: 1px solid #262626; background: transparent; padding: 19px 30px;}


.btn-type-fill{ border: none; background: #262626; padding: 10px 20px;}
.btn-type-fill:hover{ background: #000;}
.btn-type-fill:active:hover:not([disabled]){ background: #d4d4d4;}
.btn-type-fill:disabled{opacity: 0.5; cursor:initial; }

.btn-type-fill2{color: #fff; border: none; background: transparent; padding: 5px 0px;}

.btn-type-txt{color: #1aaaba; border: none; background: transparent; padding: 5px 0px;}


/*radio*/
.rbox-holder {}
[class ^="rbox-type"] {position: absolute; left: -99999px;}
[class ^="rbox-type"] + label {height: 16px; line-height: 16px; padding: 0 25px; background-color: #fff; background: url(../image/rbox.png) left center no-repeat; background-position: 0 0;  display: inline-block; cursor: pointer; font-size: 22px;}
input[type=radio]:checked + label {background-position: 0 -20px; }
input[type=radio]:disabled + label {background-position: 0 -40px;  cursor: default;}
input[type=radio][disabled][checked] + label {background-position: 0 -60px;  cursor: default;}

/*select*/
.sbox-holder {display: inline-block; width: auto;vertical-align: middle;}
[class ^="sbox-type"] {color: #fff; border: none; padding: 15px 20px; border-bottom: solid 2px #fff; background-color: transparent; background: url(../image/sbox.png) right 10px center no-repeat, 8px 6px; background-size:8px auto; }
.sbox-type-normal{}

/*common*/
html, body{height: 100%;}

.none {display: none;}

[class *= img]{background: url(../image/common.png) left top no-repeat; background-size:350px auto; display: inline-block; }

.im_g{display: inline-block;}


.content-wrap [class ^="screen"]{margin: 0 auto; /*max-width: 1900px;*/min-width: 1210px;}
.wrap-holder{margin: 0 auto; width: 1160px; position: relative;}
.blank{height: 190px;}

.content.half > li{width: 50%;}
/*////////////////////////////////////////////////////////////////*/
/*header*/
.header-wrap {position: fixed; width: 100%; color: #fff;font-size: 14px; font-weight: 600;z-index: 1; background: rgba(26, 170, 186, 0.95);     height: 80px;     /*max-width: 1900px;*/}
.header-wrap .wrap-holder{margin-top: 30px;    max-width: 1160px; min-width: 950px; width: auto;}
.header-wrap li{display: inline-block;}
.header-wrap .logo{background: url(../image/icon_logo.svg) left top no-repeat; width: 90px; height: 30px; display: inline-block;/* margin-left: -30px;  */  margin-top: -4px;}
.header-wrap .logo em{font-weight: 500; font-size: 20px;     margin: 7px 96px; display: inline-block; color: #fff;}
.header-wrap .link {display: inline-block; float: right;/* margin-right: -32px;*/ margin-top: -12px;}
.header-wrap .link ul{display: inline-block;}
.header-wrap .link > ul > li{display: inline-block; margin: 0 20px; cursor: pointer; color: rgba(255,255,255, 0.5);}
.header-wrap .link > ul > li:after{content: ""; display: none; width: 6px; height: 6px; background: #fff;border-radius: 50%; margin: 4px auto;}
.header-wrap .link > ul > li:hover::after{display: block;}
.header-wrap .link > ul > li:hover{color: rgba(255,255,255,1);}

.header-wrap .link .search-group{display: inline-block; width: 350px; margin-left: 60px;    position: relative;}
.header-wrap .link .search-group span{position: absolute; right: 0px; top: 5px; width: 40px; height:  40px; cursor: pointer;}
.header-wrap .link .search-group span .img{width: 16px; height: 16px; background-position: -110px 0;     margin: 13px 12px;}

.header-wrap .link > ul li{display: inline-block; margin: 0 20px; cursor: pointer; color: rgba(255,255,255, 0.5);}
.header-wrap .link > ul li:after{content: ""; display: none; width: 6px; height: 6px; background: #fff;border-radius: 50%; margin: 4px auto;}
.header-wrap .link > ul li:hover::after{display: block;}
.header-wrap .link > ul li:hover{color: rgba(255,255,255,1);}


/*home*/
.root{position: relative; /*max-width: 1900px; */min-height: 100%;     margin: 0 auto -80px;}
.wrap{position: relative; }
.content-wrap .bar{background: #1aaaba; position: absolute;}


.content-wrap .title{font-size: 24px; font-weight: 800;  }
.content-wrap .subTitle{font-size: 20px; font-weight: 500; color: rgba(255,255,255,0.5);}

.content-wrap li{display: inline-block;}

.home .content-wrap .screen0{color: #fff; background: #1aaaba; padding-top: 140px; height: 590px;}
.home .content-wrap .screen1{background: #fff;}
.home .content-wrap .screen0 .content > li{position: relative; vertical-align: top; }
.home .content-wrap .screen0 .content > li:not(:first-child){margin-left: -6px;}
.home .content-wrap .screen0 .content {font-weight: 700;}
.home .content-wrap .screen0 .content .left p{margin-bottom: 4px; width: 516px;}
.home .content-wrap .screen0 .content .left p.c em{float: right;color: #fff;font-family: "NanumSquare"; font-weight: 900;}
/*.home .content-wrap .screen0 .content .left em{}*/
.home .content-wrap .screen0 .content .left .num{font-size: 54px; text-align: right; font-family: "NanumSquare"; font-weight: 900;}
.home .content-wrap .screen0 .content .left .num.a{margin: 20px 0 24px 0;}
.home .content-wrap .screen0 .content .left .num.a.small{font-size: 45px;}
.home .content-wrap .screen0 .content .left .num.b{margin: 20px 0 30px 0;}
.home .content-wrap .screen0 .content .left .num.a em{margin-left: 5px;}
.home .content-wrap .screen0 .content .left .num.b em{margin-left: 5px;}

.home .content-wrap .screen0 hr{display: block; border: none; border-bottom: 1px solid rgba(255,255,255,0.5); width: 516px;margin-bottom: 36px; }


.home .content-wrap .screen0 .graph{background: #262626; width: 580px; height: 316px; display: inline-block; margin-top: 25px;}

.home .content-wrap .screen1 .wrap-holder { padding: 60px 0 0px;}
.home .content-wrap .screen1 .content .title span{display: inline-block;  float: right; cursor: pointer; font-size: 16px; margin-top: 8px;}
.home .content-wrap .screen1 .content .title .img{width: 10px; height: 14px; background-position: -95px 0;    margin: -2px 0 -2px 9px; }
.home .content-wrap .screen1 .content .title span:hover{color:#1aaaba; }
.home .content-wrap .screen1 .content .title span:hover .img{background-position: -95px -18px; }

.home .content-wrap .screen1 .content > li{position: relative; vertical-align: top;  }
.home .content-wrap .screen1 .content > li:not(:first-child){margin-left: -6px;}

.home .content-wrap .screen1 .content .list-group{overflow-y:auto; height: 540px; border-top: 2px solid #262626; border-bottom: 2px solid #262626; margin-top: 25px;}
.home .content-wrap .screen1 .content .list{font-size: 12px; font-family: "NanumSquare"; font-weight: 700;}
.home .content-wrap .screen1 .content .list li {display: block; height: 90px; padding: 14px 0; margin: 0 20px; position: relative;     font-weight: 700;}
.home .content-wrap .screen1 .content .list li:not(:first-child){border-top: 1px solid #262626;}
.home .content-wrap .screen1 .content .list li .icon{width: 100px; position: absolute; margin-top: 7px; text-align: center; }
.home .content-wrap .screen1 .content .list li p em{font-family: "NanumSquare"; font-weight: 500; }
.home .content-wrap .screen1 .content .list li p,
.home .content-wrap .screen1 .content .left .list li .icon span{font-family: "NanumSquare"; font-weight: 800; }

.home .content-wrap .screen1 .content .list li p:not(.icon){padding-left: 110px;margin-top: 5px; position: relative;}
.home .content-wrap .screen1 .content .list li p em{font-weight: 600; position: absolute; left: 180px; }
.home .content-wrap .screen1 .content .list li .a em{color: #1aaaba; cursor: pointer;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 320px;}

.home .content-wrap .screen1 .content .list li .a em:hover{text-decoration: underline;}
.home .content-wrap .screen1 .content .left{padding-right: 27px;}
.home .content-wrap .screen1 .content .right{padding-left: 27px;}
.home .content-wrap .screen1 .content .list li .a em a,
.home .content-wrap .screen1 .content .left .list li p em a{color: #1aaaba}
.home .content-wrap .screen1 .content .left .list li p em{left: 205px;     text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 320px;}
.home .content-wrap .screen1 .content .left .list li .icon img{position: absolute;    left: 20px;}
.home .content-wrap .screen1 .content .left .list li .icon span{position: relative; z-index: 1;     display: block; }
.home .content-wrap .screen1 .content .left .list li .icon span:nth-child(2){font-weight: 500; margin-top: 14px;}
.home .content-wrap .screen1 .content .left .list li .icon span:nth-child(3){color: #1aaaba; cursor: pointer;}
.home .content-wrap .screen1 .content .left .list li .icon span:nth-child(3):hover{text-decoration: underline;}

.home .content-wrap .screen1 .content .list li p em a{ text-decoration:none; color:#1aaaba; }
.home .content-wrap .screen1 .content .list li p em a:hover{ text-decoration:underline; /*opacity: 0.5; */}

.home .content-wrap .screen1 .content .left .list li .icon span:nth-child(3) a{color: #1aaaba; cursor: pointer;}
.home .content-wrap .screen1 .content .left .list li .icon span:nth-child(3):hover a{text-decoration: underline;}
/*sub*/

.sub .content-wrap{ padding-top: 170px; }
/*.sub .content-wrap {margin: 0px 0 110px;}*/
.sub .content-wrap .screen1 {margin-top: 80px;}
[class *="table-type"] a { text-decoration:none; color:#1aaaba; }
[class *="table-type"] a:hover{ text-decoration:underline; opacity: 0.5; }
[class *="table-type"] {margin-top: 24px;border:  2px solid #262626;  font-size: 12px; }
[class *="table-type"]  .on{color: #1aaaba;}
[class *="table-type"]  .break{word-break: break-all;}
[class *="table-type"]  th,
[class *="table-type"]  td{font-family: "NanumSquare"; font-weight: 500;}
[class *="table-type"] thead tr{height: 44px; border: 1px solid #262626; }
[class *="table-type"] thead tr th{background: #262626; text-align: center; color: #fff;}
[class *="table-type"] thead tr th:not(:first-child){border-left:1px solid #fff; }
[class *="table-type"] thead th{ padding: 14px 0 0; font-weight: 800;}
[class *="table-type"] thead th .img{background-position:-170px 0; width:8px; height: 9px; margin-left: 6px; }
[class *="table-type"] thead th em{color: rgba(255,255,255,0.5); margin-left: 6px;font-family: "NanumSquare"; font-weight: 800;}
[class *="table-type"] td{border-bottom:  1px solid #262626; border-right:  1px solid #262626;padding: 12px 20px; vertical-align: middle;}
[class *="table-type"] td:first-child{border-left:  1px solid #262626; }
[class *="table-type"] td,
[class *="table-type"] td em,
[class *="table-type"] td span{font-family: "NanumSquare"; font-weight: 500;}
[class *="table-type"] td em{display: inline-block; text-align: left; margin-left: 6px;font-family: "NanumSquare"; font-weight: 500; color: #929292;}
[class *="table-type"] td.no{text-align: center !important;}

.table-typeA td:nth-child(2),
.table-typeA td:nth-child(3),
.table-typeA td:nth-child(4),
.table-typeA td:nth-child(5){text-align: right;}
.table-typeA td:nth-child(6){text-align: center;}
.table-typeA th:nth-child(2){width:216px; }
.table-typeA th:nth-child(3){width:216px; }
.table-typeA th:nth-child(4){width:125px; }
.table-typeA th:nth-child(5){width:125px; }
.table-typeA th:nth-child(6){width:125px; }


.table-typeB{font-size: 16px;}
.table-typeB thead{display: none;}
.table-typeB tbody{text-align: center;}
.table-typeB td{border-bottom:  1px solid #262626; padding: 15px 40px;  text-align: left;font-weight: 800;}
.table-typeB td:first-child{border-bottom:  1px solid #fff; color: #fff; background: #262626; width: 240px;}
.table-typeB tr .img{background-position:-130px 0; width:18px; height: 20px; margin-left: 20px;     vertical-align: top; cursor: pointer;}
.table-typeB tr .img:hover{background-position:-130px -23px; }
.table-typeB td span{color: #1aaaba; font-family: "NanumSquare";font-weight: 800;     word-break: break-all;}

.table-typeB.address tr:nth-child(2) span{color: #999999; }
.table-typeB.address tr:first-child .crep{background: #1aaaba; border-radius:20px; font-size: 12px; color: #fff;     padding: 3px 14px; margin-right: 10px; float: right;}
.table-typeB.address tr:nth-child(2) .img{background-position: -150px 0; width: 14px; height: 14px; margin: 0 10px 0 20px;     vertical-align: baseline; cursor: default; }

.table-typeB.detail td .next,
.table-typeB.detail td .prev{display: inline-block;width: 30px; height: 30px; background:#262626; text-align: center; padding-top: 7px; cursor: pointer; vertical-align: middle;}
.table-typeB.detail td .next em,
.table-typeB.detail td .prev em{width:12px; height: 14px;     margin-left: 0px;}
.table-typeB.detail td .next .img{ background-position: -40px -145px;}
.table-typeB.detail td .prev .img{ background-position: 0px -145px;}
/*.table-typeB.detail tr:first-child th{width: 190px;}*/
.table-typeB.detail tr{vertical-align: middle;}
.table-typeB.detail tr:first-child td{padding: 7px 40px; }

.table-typeB.detail .value{display: inline-block;width: 200px; text-align: center;font-family: "NanumSquare"; font-weight: 800; color: #262626;}
.table-typeB.detail p:hover{background: #1aaaba;}


.table-typeC td:nth-child(2){text-align: center;}
.table-typeC td:nth-child(6){text-align: right;}
.table-typeC td:nth-child(7){text-align: right;}
.table-typeC th:nth-child(2){width:85px; }
.table-typeC th:nth-child(3){width: 170px;}
.table-typeC th:nth-child(6){width: 150px;}
.table-typeC th:nth-child(7){width: 150px;}

.table-typeD{}
.table-typeD .notrans{text-align: center; vertical-align: middle; height: 180px; font-size: 16px; font-weight: 600;}
.table-typeD td:nth-child(4){text-align: right;}
.table-typeD td:nth-child(5){text-align: right;}
.table-typeD th:nth-child(2){width: 23%;}
.table-typeD th:nth-child(3){width: 23%;}
.table-typeD th:nth-child(4){width: 150px;}
.table-typeD th:nth-child(5){width: 150px;}

.table-typeE td:nth-child(1){text-align: center;}
.table-typeE td:nth-child(3){text-align: right;}
.table-typeE td:nth-child(5){text-align: right;}
.table-typeE td:nth-child(6){text-align: right;}
.table-typeE th:nth-child(1){width:85px; }
.table-typeE th:nth-child(2){width: 170px;}
.table-typeE th:nth-child(3){width: 125px;}
.table-typeE th:nth-child(5){width: 150px;}
.table-typeE th:nth-child(6){width: 150px;}

/*page*/
.page{font-size: 16px; text-align: right; margin-top: 20px;}
.page .pageNum{margin: 0 20px; font-family: "NanumSquare"; font-weight: 700;}
.page .pageNum p{font-family: "Montserrat"; font-weight: 600;}
.page p{display: inline-block;}
.page li{display: inline-block; vertical-align: top; margin-left: 4px;}
.page li span{display: inline-block;width: 30px; height: 30px; background:#262626; text-align: center; padding-top: 7px; cursor: pointer; }
.page li span em{width:12px; height: 14px; }
.page li span:hover{background: #1aaaba;}
.page input{height: 30px;margin:0 8px; text-align: center; padding: 0;}
.page .start .img{background-position:-20px -145px; }
.page .prev .img{background-position:0px -145px; }
.page .next .img{background-position:-40px -145px; }
.page .end .img{background-position:-60px -145px; }

/*info*/
.wallet-info{font-size: 16px; font-style: 700; width: 1160px; border: 2px solid #262626;}
.wallet-info p{ display: inline-block; height: 50px; border: 1px solid #262626;}
.wallet-info li{display: block;}
.wallet-info .label{width: 250px; background: #262626; color: #fff; border-bottom: 1px solid #fff;}


/*nodata*/
.sub .content-wrap.nodata .screen0{margin: 160px 0 0px;}
.nodata .contents{background: url(../image/nodata.png) center center no-repeat; width: 566px; height: 360px; margin: 0 auto; text-align: center;padding: 56px 50px 50px;}
.nodata .contents .title{font-size: 60px;}
.nodata .contents .txt{font-size: 16px; color: #aaaaaa; font-weight: 700;}
.nodata .contents .address{font-size: 20px; color: #1aaaba; word-break: break-all; margin-top: 40px; font-weight: 800; font-family: "NanumSquare";}

/*//////////////////////////////*/
/*footer*/
.footer-wrap{color: #fff; font-size: 14px; font-weight: 600; position: relative; background: #262626;    /*max-width: 1900px; */margin: 0 auto;}
.footer-wrap .screen0{height: 80px;min-width: 1210px; background: #262626;}
.footer-wrap .screen0 p{font-size: 18px; padding:28px 0; display: inline-block;    /* margin-left: -50px;*/}
.footer-wrap li{display: inline-block; vertical-align: top;}
.footer-wrap .wrap-holder .sns {position: absolute; float: right; right: 0px; bottom: 10px;}
.footer-wrap .wrap-holder .sns li{margin-left: 10px;}
.footer-wrap .wrap-holder .sns li span{width: 46px; height: 46px;display: inline-block;}
.footer-wrap .wrap-holder .sns .icon .img{background-position: 0px -95px; }
.footer-wrap .wrap-holder .sns .medium .img{background-position: -50px -95px; }
.footer-wrap .wrap-holder .sns .twitter .img{background-position: -100px -95px; }
.footer-wrap .wrap-holder .sns .facebook .img{background-position: -150px -95px; }
.footer-wrap .wrap-holder .sns .github .img{background-position: -200px -95px; }
.footer-wrap .wrap-holder .sns .brunch .img{background-position: -250px -95px; }

.footer-wrap .wrap-holder .sns .icon .img:hover{background-position: 0px -45px; }
.footer-wrap .wrap-holder .sns .medium .img:hover{background-position: -50px -45px; }
.footer-wrap .wrap-holder .sns .twitter .img:hover{background-position: -100px -45px; }
.footer-wrap .wrap-holder .sns .facebook .img:hover{background-position: -150px -45px; }
.footer-wrap .wrap-holder .sns .github .img:hover{background-position: -200px -45px; }
.footer-wrap .wrap-holder .sns .brunch .img:hover{background-position: -250px -45px; }



.list-group::-webkit-scrollbar {width: 8px; height: 8px; /*border: 3px solid #fff;*/ }
.list-group::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: #fff}
.list-group::-webkit-scrollbar-track {background: #fff; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0)}
.list-group::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.15); -webkit-border-radius: 8px; border-radius: 8px;/* -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)*/}


/* 로딩 컴포넌트 */
.loadingDiv {
  width: 100%;
  height: inherit;
  position: relative;
}
.loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
