#root {
  height: 100%;
}

#app-root {
  height: 100%;
}

.header-wrap .logo em{font-weight: 500; font-size: 20px;     margin: 7px 96px; display: inline-block; color: #fff;}
.header-wrap .link > ul li{display: inline-block; margin: 0 20px; cursor: pointer; color: rgba(255,255,255, 0.5);}
.header-wrap .link > ul li:after{content: ""; display: none; width: 6px; height: 6px; background: #fff;border-radius: 50%; margin: 4px auto;}
.header-wrap .link > ul li:hover::after{display: block;}
.header-wrap .link > ul li:hover{color: rgba(255,255,255,1);}

[class *="table-type"] a { text-decoration:none; color:#1aaaba; }
[class *="table-type"] a:hover{ text-decoration:underline; opacity: 0.5; }

.home .content-wrap .screen1 .content .list li p em a { text-decoration:none; color:#1aaaba; }
.home .content-wrap .screen1 .content .list li p em a:hover{ text-decoration:underline; opacity: 0.5; }

/* 로딩 컴포넌트 */
.loadingDiv {
  width: 100%;
  height: inherit;
  position: relative;
}

.loading {
	  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
