/* LoginModal component styles */
.main {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.title {
}
.ledger {
  font-family: "Lato", sans-serif;
  min-width: 250px;
  min-height: 250px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  /* align-items: center; */
}

.ledgerSection {
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  align-self: stretch;
}

.ledgerSection > p {
  margin-top: auto;
  max-width: 250px;
  text-align: center;
  color: #000;
}
.ledgerSection > img {
  margin-top: 40px;
  align-self: center;
}
.ledgerSectionWallet {
  max-height: 300px;
  overflow-y: scroll;
}
.ledgerSectionWalletSection {
  border-bottom: 2px solid grey;
  margin: 0px 10px 0px 0px;
  display: flex;
  flex-flow: row;
  cursor: pointer;
}
.ledgerAddressSelected {
  background-color: #d8d8d8;
}
.ledgerSectionWalletSection:hover {
  transform: translateY(1px);
  background-color: #e8e8e8;
  border-radius: 5px;
}
.ledgerSectionWalletIndex {
  border-right: 2px solid grey;
  padding-right: 5px;
  margin: 5px;
}

.ledgerSectionWalletIndex > p {
  margin: 10px 0px;
}
.ledgerSectionWalletAddress {
  display: flex;
  flex-flow: row;
}
.ledgerSectionWalletAddress > p {
  margin: 5px 0px;
}
/* .ledger-section-wallet-address > p:first-child { */
/*   border-right: 2px solid grey; */
/*   padding-right: 4px; */
/*   margin-right: 4px; */
/* } */
.ledgerSectionWalletBalance {
  font-size: 12px;
  color: grey;
  text-align: right;
  margin-right: 20px;
}
.ledgerSectionWalletBalance > p {
  margin-top: 0px;
}
.ledgerSectionContainerBtn {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin: 5px 10px 0px 0px;
}
.ledgerSectionContainerBtn > button {
  height: 40px;
  width: 60px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: #5086bd;
  color: #fff;
}
.ledgerSectionContainerBtn > button:active {
  transform: translateY(1px);
}
.ledgerLogo {
  height: 100px;
  width: 100px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .ledgerLogo {
    animation: ledger-logo-spin infinite 5s linear;
  }
}
@keyframes ledger-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body {
}
.bodySection {
  display: flex;
  flex-flow: row;
  cursor: pointer;
  align-items: center;
}
.bodySection:hover {
  border: 2px solid black;
}
.bodySectionItem {
  display: flex;
  flex-flow: row nowrap;
}
.bodySectionItemImg > img {
  height: 50px;
  margin: 0px 5px;
}
.bodySectionItem > p {
  margin-right: 10px;
  color: #000;
}
.bodySectionItem:first-child {
  margin-right: auto;
}
.footer {
}
