.main {
  margin-top: 60px;
  padding: 40px;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-items: center;
}

.content {
  width: 80%;
}

.title > h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.container {
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  padding: 20px;
  min-width: 600px;
}

.containerItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px 0px;
}

.containerItem > *:first-child {
  flex: 1;
  max-width: 100px;
}

.containerItem > *:nth-child(2) {
  flex: 2;
  max-width: 500px;
}

.containerItemInput {
  height: 35px;
  border: 2px solid #c2c2c2 !important;
  border-radius: 4px !important;
}

.containerItemTextarea {
  height: 150px;
  border: 2px solid #c2c2c2 !important;
  border-radius: 4px !important;
}

.dropdownItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
/* OLD CODE */
/* .dropdownItemContent { */
/*   display: flex; */
/*   flex-flow: column nowrap; */
/*   /1* align-items: flex-start; *1/ */
/*   align-items: center; */
/*   justify-content: center; */
/*   margin-left: 30px; */
/* } */

/* .dropdownItemSelect { */
/*   display: flex; */
/*   flex-flow: column nowrap; */
/*   align-items: flex-start; */
/*   justify-content: center; */
/*   margin-left: 30px; */
/* } */

/* OLD CODE V2 */
/* .dropdownItemSelect { */
/*   /1* width: 300px; *1/ */
/*   width: auto; */
/*   height: 30px; */
/*   border: none; */
/*   border-style: none; */
/*   border: 1px solid #e0e0e0; */
/*   border-radius: 4px !important; */
/*   padding: 0 10px; */
/* } */

/* .dropdownItemSelect { */
/*   width: 100px; */
/*   background-image: linear-gradient(45deg, transparent 50%, gray 50%), */
/*     linear-gradient(135deg, gray 50%, transparent 50%); */
/*   background-position: calc(100% - 20px), calc(100% - 15px), */
/*     calc(100% - 2.5em) 0.5em; */
/*   background-size: 5px 5px, 5px 5px, 1px 1.5em; */
/*   background-repeat: no-repeat; */
/* } */

.dropdownItemContent {
  position: relative;
  display: inline-block;
}

.dropdownItemSelect {
  display: inline-block;
  padding: 4px 3px 3px 5px;
  margin: 0;
  outline: none;
  line-height: 1.2;
  background: #e2e2e2;
  /* color: #fff; */
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

.dropdownItemContent:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 25px;
  padding: 0 7px;
  background: #e2e2e2;
  /* color: #fff; */
  pointer-events: none;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

.no-pointer-events .dropdownItemContent:after {
  content: none;
}

.submitButton {
  margin: 0 0.5rem 0 0;
  height: 40px;
  min-width: 40px;
  color: #299fac !important;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #08909f;
  color: #fff !important;
}
