/* Set width of block hash to 450px in block list until update for prep */
.table-typeE td:nth-child(4) .ellipsis{width:450px; }
/* Set margin-left of address link with icon to 0px in trasaction list */
[class *="table-type"] td.icon a{margin-left: 0px;}
/* Set height and max-height of data to auto and 300px each other in transaction detail page */
.table-typeB .scroll{ height: auto !important; /* max-height: 300px; */ }

.table-typeB .scroll img{ max-width: 850px; /* cursor: pointer; */}

.header-wrap .link li:nth-child(1) .sub-menu{ width: 125px; }
.header-wrap .link li:nth-child(4) .sub-menu{ width: 155px; }

.table-typeB .copy{ margin-left: 20px; }
.table-typeB .copy.twit{ margin-right: -16px; }
.table-typeB tr .qrcode{ margin-right: -16px; }

.footer-wrap .screen0 p{ padding:18px 0; }